.pushable {
    border-radius: 10px;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .pushable-front {
    display: flex;
    border-radius: 5px;
    color: white;
    transform: translate(calc(1), calc(-2));
    transition: all 100ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
    /* box-shadow: 0px 6px 4px 0px rgba(31, 17, 48, 0.5); */
  }
  
  .pushable:active .pushable-front {
    transform: translateY(0);
  }
  
  .pushable.disabled {
    filter: grayscale(70%);
  }
  